[submodule "experimental"]
	path = experimental
	url = https://github.com/shravanngoswamii/experimental
[submodule "sending"]
	path = sending
	url = https://github.com/usany/sending
[submodule "serviceWithDeno"]
	path = serviceWithDeno
	url = https://github.com/usany/serviceWithDeno
